
.header_nav {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  .nav_bar {
    display: flex;
    max-width: 1440px;
    gap: 30px;
    width: 100%;
    margin-top: 30px;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
  }
  .nav_bar .nav_cont {
    width: 100%;
    text-align: center;
    justify-content: center;
    border-bottom: 1px solid #96c2f6;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #2c84ec;
    height: 34px;
    align-items: center;
  }
  .nav_bar a {
    text-decoration: none !important;
    flex: 1;
    display: flex;
    max-width: 274px;
  }